.card {
  position: relative;
  overflow: hidden;

  &:hover .card__content,
  &:focus .card__content {
    left: 0;
  }

  &:hover .card__figure-title {
    display: none;;
  }
}

.card__content {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 58px;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  transition: $trans-default;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  @include vp-1023 {
    padding: 29px 35px 35px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.card__desc {
  overflow: auto;
  margin-bottom: 10px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.card__content h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.card__content ul {
  margin-top: 0;
  margin-bottom: 0;
}

.card__figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  aspect-ratio: 260/294;
  transition: $trans-default;

  @include vp-1023 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    content: "";
    background-image: green;
  }
}

.card__figure img {

  max-width: none;
  width: auto;
  height: 100%;

  @include vp-1023 {

  }

  @include vp-767 {
    
  }
}

.card__figure-title {
  position: absolute;
  bottom: 23px;
  left: calc(30 / 260) * 100%;
  right: calc(30 / 260) * 100%;
  z-index: 5;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-1023 {
    bottom: 27px;
  }

  @include vp-767 {
    bottom: 18px;
    left: calc(25 / 260) * 100%;
  }
}
