.card {
  position: relative;
  overflow: hidden;

  &:hover .card__content,
  &:focus .card__content {
    left: 0;
  }

  &:hover .card__figure-title {
    display: none;
  }
}

.card__content {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 52px 33px 54px 32px;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  transition: $trans-default;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);

  @include vp-1199 {

  }

  @include vp-767 {

  }
}

.card__desc {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.card__content h3 {
  margin-top: 0;
  margin-bottom: -5px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  @include vp-767 {

  }
}

.card__content p {
  margin-top: 0;
  margin-bottom: 15px;
  color: #b6bdcc;
  text-align: center;
}

.card__content ul {
  margin-top: 36px;
  margin-bottom: 0;
  padding-left: 22px;
  list-style-type: none;
}

.card__content li {
  display: flex;
  align-items: flex-start;
  font-size: 14px;

  &::before {
    display: block;
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    margin-top: 6px;
    margin-right: 10px;
    content: "";
    border-radius: 50%;
    background-color: $color-default-white;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.card__figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  aspect-ratio: 260/294;
  transition: $trans-default;

  @include vp-1023 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.card__figure img {

  // max-width: none;
  // width: auto;
  // height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1023 {

  }

  @include vp-767 {

  }
}

.card__figure-title {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  z-index: 5;
  font-weight: 700;
  font-size: 18px;
  color: $color-default-white;

  @include vp-1199 {

  }

  @include vp-767 {

  }
}
